html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
  }

:root {
  /* document colors */
  --pure-white: #fff;
  --cream: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine: #3d8168;
  --deeper-aquamarine: #1A4032;
  --gunmetal: #1c232b;

  /* typography */
  --font-family-display: 'Fraunces', serif;
  --font-family-default: 'Montserrat', sans-serif;
  
     

  font-family: var(--font-family-default);
  
  --display: 3.2rem;
  --display-line-height: 3.2rem;
  --body: 1.3rem;
  --body-line-height: 2.3rem;
  --button-text: 1.4rem;
  --overline: 1.2rem;
  --overline-letter-spacing: .5rem;
}

h1 {
  color: var(--gunmetal);
  font-size: var(--display);
  font-family: var(--font-family-display);
  margin: 0%;
  ;
}

h1.discount-price {
  color: var(--deep-aquamarine); 
}

.og-price {
  text-decoration: line-through;
  font-size: 1.3rem;
  color: var(--aurometal-saurus);
  line-height: var(--body-line-height);
  margin-left: 1.9rem;
 
}

.price {
  display: flex;
  align-items: center; 
}

p {
  color: var(--aurometal-saurus);
  font-size: var(--body);
  line-height: var(--body-line-height);
}

.overline {
  text-transform: uppercase;
  font-size: var(--overline);
  letter-spacing: var(--overline-letter-spacing);
}



body { background-color: var(--cream);
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  background-color: var(--deep-aquamarine);
  font-family: var(--font-family-default);
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

button:hover {
  background-color: var(--deeper-aquamarine);
  cursor: pointer;
  
}

.cart-icon {
 width: auto;
 padding-right: 12px;
}

/* For mobile phones: */
.card-component {
  background-color: var(--pure-white);
  border-radius: 10px;
  width: 343px;
}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.product-info {
  padding: 0px 20px 20px 20px;
  
  
}

/* For desktop: */

@media only screen and (min-width: 600px) {

  .card-component {
    border-radius: 10px;
    width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: 300px 300px;
  }

  .hero img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
  }

  .product-info {
    padding: 32px;
    
    
    
  }
  
}